name: Windows Server 2022

on:
  pull_request:
    types: [synchronize, opened]

env:
  VERSION: "0.0.8-beta"

jobs:
  build:
    runs-on: windows-2022

    steps:
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.3.1

      - name: Restore from cache and install vcpkg
        uses: lukka/run-vcpkg@v11.1
        with:
          vcpkgGitCommitId: "64adda19c86e89526b5e27703a193c14477cce07"
          vcpkgGitURL: https://github.com/shimat/vcpkg.git

      - name: Vcpkg Install
        shell: powershell
        run: |
          echo ${env:VCPKG_ROOT}
          & ${env:VCPKG_ROOT}\vcpkg install tesseract:x64-windows-static
          & ${env:VCPKG_ROOT}\vcpkg install tesseract:x86-windows-static
          & ${env:VCPKG_ROOT}\vcpkg install tesseract:arm64-windows-static

      - name: Vcpkg Export
        shell: powershell
        run: |
          & ${env:VCPKG_ROOT}\vcpkg export tesseract:x64-windows-static tesseract:x86-windows-static --nuget --nuget-id="tesseract_vcpkg" --nuget-version=$env:VERSION
          & ${env:VCPKG_ROOT}\vcpkg export tesseract:x64-windows-static tesseract:x86-windows-static --zip --output=tesseract_vcpkg.${env:VERSION}
          mkdir artifacts
          cd artifacts
          xcopy ${env:VCPKG_ROOT}\*.nupkg .
          xcopy ${env:VCPKG_ROOT}\*.zip .
          ls
          cd ..

      - name: Upload artifacts
        uses: actions/upload-artifact@v1
        with:
          name: tesseract_artifacts
          path: artifacts
